@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Dosis&family=Quicksand&family=VT323&display=swap');

.app {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app audio{
  display: none;
}

.app>.credits-btn{
  border: none;
  margin: 0;
  position: absolute;
  bottom: 0.5vh;
  font-family: 'Quicksand', sans-serif;
  color: #333333;
  margin:0;
  font-size: min(2.5vh,5vw);
  background-color: transparent;
}
.app>.credits-btn:hover{
  color: #FF6347;
  text-decoration: underline;
}

@media (orientation: portrait) {
  .logo{
    width: 80vw;
    height: auto;
  }
}

@media (orientation: landscape) {
  .logo{
    height: 40vh;
    width: auto;
  }
}
/*for desktops*/
@media only screen and (min-width: 1025px) {
  .logo{
    height: 40vh;
    width: auto;
  }
}